<?xml version="1.0"?>
<configuration>

  <hierarchySection>
    <!-- Modules Configuraion -->

    <!-- Settings Configuration -->
    <settings>
      <setting name="Background" display="Home Background" value="" objecttype="image" code="1" status="1" />
      <setting name="Email" display="Email" value="softwaresales@newstead.com.sg" objecttype="string" code="24" status="1" />
      <setting name="Password" display="Password" value="P@ssw0rd" objecttype="string" code="25" status="1" />
    </settings>
  </hierarchySection>

  <configSections>
    <section name="hierarchySection" type="Newstead.Api.DataModel.Models.Initialization.HierarchySection, Newstead.Api.DataModel" requirePermission="false" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>